pillow
boto3~=1.34.71
botocore~=1.34.71
h5py
ipyfilechooser~=0.6.0
ipywidgets
matplotlib
numpy==1.26.4
pandas
pystackreg~=0.2.7
python-dotenv
s3transfer~=0.10.1
scikit-image==0.22.0
scikit-learn
scipy==1.13.0
seaborn
shap
tifffile==2024.2.12
torch
trackpy~=0.6.2
umap-learn
